div {
    width: 90%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: darkblue;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: darkblue;
}

.letters-spa {
    letter-spacing: 5px;
    font-size: 2rem;
}

.word-spa {
    word-spacing: 5px;
    font-size: 1.5rem;
    text-align: justify;
}