// COLORS
$color-primary-light: #c43ad6af;
$color-primary-dark: #5c5ac5af;
$color-secondary-light: #ff00f2;
$color-secondary-dark: #ee30ff;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #ffffffee;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
// GRID
$grid-width: 57rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 3rem;
//FONT
$default-font-size: 1rem;