body {
    background-color: skyblue;
    /*layout*/
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    /*text*/
    color: antiquewhite;
    text-shadow: 2px 2px 2px lightslategray;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}