.item {
    /*border*/
    border: 2px solid darkred;
    /*background*/
    background-color: salmon;
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
}


/* flex container */

.container {
    display: flex;
}

.row-wrapped {
    flex-flow: row wrap;
}

.row-wrap-reversed {
    flex-flow: row wrap-reverse;
}

.column-wrapped {
    flex-flow: column wrap;
}

.column-wrap-reversed {
    flex-flow: column wrap-reverse;
}