.btn {
    &,
    &:link,
    &:visited {
        /*text*/
        font-size: $default-font-size;
        text-transform: uppercase;
        /*layout*/
        position: relative;
        /*animation*/
        transition: all .3s;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .6);
        /*animations*/
        transform: translateY(-3px);
        // .btn:hover::after
        &::after {
            opacity: 0;
            /*animations*/
            transform: scaleX(1.4) scaleY(1.6);
        }
    }
    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 0.5rem 1rem rgba($color-black, .6);
        /*animations*/
        transform: translateY(-1px);
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100px;
        /*layout*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }
    // .btn--white
    &--white {
        color: $color-grey-dark;
        background-color: $color-white;
        border-radius: 10rem;
        &::after {
            background-color: $color-white;
        }
    }
    &--lg {
        margin-top: 3rem;
        padding: 1.5rem 4rem;
    }
    &--md {
        margin-top: 3rem;
        padding: 1.5rem 2.5rem;
    }
    &--sm {
        margin-top: 2rem;
        padding: 1rem 2rem;
    }
    // .btn--animated
    &--animated {
        animation-name: moveUp;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
    }
    // .btn--text
    &--text {
        &:link,
        &:visited {
            /*text*/
            color: $color-primary-dark;
            /*border*/
            border-bottom: 2px solid $color-primary-dark;
            /*layout*/
            display: inline-block;
            padding: .5rem;
        }
        &:hover {
            /*font*/
            color: $color-grey-light-1;
            /*background*/
            background-color: $color-primary-dark;
            box-shadow: 0 .5rem 1rem rgba($color-black, .6);
            /*animation*/
            transform: translateY(-2px);
        }
        &:active {
            box-shadow: 0 .25rem .5rem rgba($color-black, .8);
            /*animation*/
            transform: translateY(0);
        }
    }
}