.card {
    height: 20rem;
    perspective: 75rem;
    -moz-perspective: 75rem;
    position: relative;
    &__side {
        border-radius: 3px;
        overflow: hidden;
        /*layout*/
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 22rem;
        box-shadow: 0 1rem 1rem rgba($color-black, .6);
        /*animation*/
        transition: all .8s ease;
        backface-visibility: hidden;
        &--front {
            background-color: $color-grey-light-1;
        }
        &--back {
            transform: rotateY(180deg);
        }
        &--primary {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
        &--secondary {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
        &--tertiary {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
    &__picture {
        background-size: cover;
        background-blend-mode: screen;
        /*layout*/
        height: 12rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        &--primary {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(img/courses.jpg);
        }
        &--secondary {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(img/courses.jpg);
        }
        &--tertiary {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(img/courses.jpg);
        }
    }
    &__heading {
        /*text*/
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: left;
        /*layout*/
        position: absolute;
        top: 6rem;
        width: 80%;
        &--primary {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .7), rgba($color-primary-dark, .7));
            padding: .5rem;
        }
        &--secondary {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .7), rgba($color-secondary-dark, .7));
            padding: .5rem;
        }
        &--tertiary {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .7), rgba($color-tertiary-dark, .7));
            padding: .5rem;
        }
    }
    &__details {
        color: $color-grey-dark-2;
        font-weight: 400;
        letter-spacing: 1px;
        ul {
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                padding: .5rem;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color-grey-dark-2, .3);
                }
            }
        }
    }
    // call to action
    &__cta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-text {
            color: $color-white;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            /*layout*/
            margin-bottom: 1rem;
        }
        &-price {
            color: $color-white;
            font-size: 4rem;
            font-weight: 100;
            letter-spacing: 3px;
        }
    }
}