body {
    font-family: "Lato", sans-serif;
}

.header {
    /*layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /*background*/
    background-image: linear-gradient(to right bottom, #5c5ac5af, #c43ad6af), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header-logo {
    position: absolute;
    top: 50px;
    left: 60px;
}

.logo {
    height: 7rem;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* hack to avoid the shaking */
    backface-visibility: hidden;
}

.heading-primary-main {
    /*text*/
    color: #ffffffee;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 55px;
    text-transform: uppercase;
    /*layout*/
    margin: 1.5rem;
    /*animations*/
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    /*text*/
    color: #ffffffee;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 40px;
    text-transform: uppercase;
    /*layout*/
    margin: 1.5rem;
    /*animations*/
    animation: moveInRight 3s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}