.util {
    &__center-text {
        text-align: center;
    }
    &__margin-buttom-big {
        margin-bottom: 3rem;
    }
    &__margin-buttom-medium {
        margin-bottom: 1rem;
    }
    &__margin-buttom-small {
        margin-bottom: .5rem;
    }
}