h1, h2 {
  font-family: 'Roboto', sans-serif;
}

div {
  height: 100%;
  width: 300px;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}