body {
    margin: 1rem;
}

.wrapper {
    background-color: whitesmoke;
    /*layout*/
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    margin-block: 1rem;
}

.item {
    /*text*/
    font-size: 2rem;
    color: #fff;
    /*background*/
    background-color: salmon;
    /*border*/
    border-radius: .5rem;
    /*layout*/
    padding: 1rem;
}