body {
    padding: 25px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: circle(30% at 50% 50%);
    /*More info on: 
    - https://bennettfeely.com/clippy/
    - https://css-tricks.com/almanac/properties/c/clip-path/
    */
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-primary-main {
    color: #b99999ee;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 3rem;
    text-transform: uppercase;
}

.heading-primary-sub {
    color: #b99999;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
}