html,
body,
div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    /*text*/
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: chocolate;
    /*border*/
    border-radius: 5px;
    border: 3px dotted chocolate;
    /*background*/
    background-color: skyblue;
}

#fixed {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}

#relative {
    position: relative;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 200px;
}

#static {
    width: 80%;
    height: 1500px;
    margin: 0 auto;
}