.item {
    /*border*/
    border: 2px solid darkred;
    /*background*/
    background-color: salmon;
    /*layout*/
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
}


/* flex container */

.container {
    display: flex;
}

.wrapped {
    flex-wrap: wrap;
}

.wrap-reversed {
    flex-wrap: wrap-reverse;
}